.container {
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-transform: uppercase;
  color: lightslategrey;
}

.titulo-tuneado {
  font-size: 50px;
  text-transform: uppercase;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
.container {
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-transform: uppercase;
  color: lightslategrey;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
.container {
  background:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
