<%- contentFor('title') %> Login <%- contentFor('body') %>

<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Login</h1>
    </div>

    <%- include('../shared/_flash') %>

    <div class="col-12">
      <%- include('./_form') %>
    </div>
  </div>
</main>
