<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { title:"Cadastro de Pizza" }) %>

  <body>
    <%- include('includes/header') %>

    <main class="container">
      <div class="row">
        <div class="col-12">
          <h1>Cadastro de pizza</h1>
        </div>
        <div class="col-12">
          <form class="w-50" action="/cardapio/cadastro" method="POST">
            <div class="form-group">
              <label for="nomePizza">Nome da Pizza</label>
              <input
                class="form-control"
                name="nomePizza"
                id="nomePizza"
                type="text"
              />
            </div>
            <div class="form-group">
              <label for="precoPizza">Preço da Pizza</label>
              <input
                class="form-control"
                name="precoPizza"
                id="precoPizza"
                type="text"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">
                Finalizar Cadastro
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <%- include('includes/bootstrap_scripts') %>
  </body>
</html>
