@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  border: none;
  border-bottom: none;
}

body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 10px;
  box-shadow: 0px 5px 10px -5px #000;
  z-index: 1;
  border-bottom: 1px solid #eee;
}

header #logo {
  display: flex;
  flex: 1;
  align-items: center;
}

header nav {
  margin-right: 20px;
}

header nav a {
  margin-left: 100px;
  text-decoration: none;
}

header nav a:hover {
  color: #5a458c;
  border-bottom: 1px solid #5a458c;
}

header nav a:active {
  color: #fff;
}

#welcome {
  background-image: url("./media/img/banner.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
}

#products {
  display: flex;
  min-height: 100vh;
}

.product {
  width: 200;
  height: 200;
}

#product1 {
  background-image: url("./media/img/product-1.jpg");
  background-repeat: no-repeat;
}

#product2 {
  background-image: url("./media/img/product-2.jpg");
  background-repeat: no-repeat;
}

#product3 {
  background-image: url("./media/img/product-3.jpg");
  background-repeat: no-repeat;
}

#product4 {
  background-image: url("./media/img/product-4.jpg");
  background-repeat: no-repeat;
}

#product5 {
  background-image: url("./media/img/product-5.jpg");
  background-repeat: no-repeat;
}

#product6 {
  background-image: url("./media/img/product-6.jpg");
  background-repeat: no-repeat;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  background-color: purple;
}
