p {
  color: red;
}

/* break */

h3 {
  color: blue;
}

.negrito {
  font-weight: bold;
}

#gigante {
  font-size: 40px;
}

/* break */

.destacado {
  color: gold;
}

.em-maiuscula {
  text-transform: uppercase;
}

#whatsapp {
  background-color: green;
  color: white;
}

/* break */

p {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}
