<%- contentFor('title') %> 404 <%- contentFor('body') %>
<div class="board">
  <p id="error">
    error
  </p>

  <p id="code">
    404
  </p>

  <a href="/" id="home">
    return home
  </a>
</div>

<!-- STYLE -->
<link rel="stylesheet" href="/css/access/error.css" type="text/css" />
