.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('/html/images/bg-body.png');
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 10px;
}

.logo {
  border-radius: 50%;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  min-width: 55vw;
}

.main_nav_link {
  padding: 10px 40px;
  margin: 15px 10px;

  background-color: #555;
}

.main_nav_link a {
  color: #fff;
  text-transform: uppercase;
}

.banner {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 0;
  margin: 0;
  width: 54vw;
}

/* Products */

.vip-products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 55vw;
  margin: 20px 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 300px;
  max-height: 500px;
  margin: 10px 10px;
}

.photo-container {
  max-width: 300px;
  max-height: 160px;

  margin-bottom: 5px;
}

.photo {
  max-width: 300px;
  max-height: 160px;
}

.special {
  position: relative;
  bottom: 165px;
  left: 75%;
}

.zoom {
  position: relative;
  bottom: 150px;
  padding: 10px 100px;

  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: rgb(1, 1, 1, 0.5);
}

.product p {
  max-width: 300px;
  color: #888;
}

.more {
  padding: 10px 15px;
  margin-top: 10px;

  color: #fff;
  font-weight: bold;
  background-color: #555;
}

/* Footer */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 55vw;
  min-height: 10vh;

  border-radius: 10px 10px 0px 0px;
  background-color: #d22a1e;
}

.main_footer_nav_item {
  padding: 0 10px;
  border-right: 2px solid #fff;
}

.main_footer_nav_item:last-child {
  border-right: none;
}

.main_footer_nav_item a {
  color: #fff;
  text-transform: capitalize;
}
