<%- contentFor('title') %>
Cadastro de Pedido

<%- contentFor('body') %>
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Faça seu pedido</h1>
    </div>

    <div class="col-12">
      <%- include('./_form') %>
    </div>
  </div>
</main>
