<form class="w-50" action="/pizzas" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="nomePizza">Nome da Pizza</label>

    <input class="form-control" name="nomePizza" id="nomePizza" type="text" />
  </div>

  <div class="form-group">
    <label for="precoPizza">Preço da Pizza</label>

    <input class="form-control" name="precoPizza" id="precoPizza" type="text" />
  </div>

  <div class="form-group">
    <label for="">Foto da pizza</label>

    <input type="file" name="fotoPizza" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success">
      Finalizar Cadastro
    </button>
  </div>
</form>
