<!DOCTYPE html>
<html lang="en">
  <%- include('../shared/_head', { title: 'Menu' })%>

  <body>
    <%- include('../shared/_header') %>
    <div class="container">
      <section class="row p-5">
        <% if(pizzas != undefined && pizzas.length > 0) { %>
        <% pizzas.forEach(pizza =>{  %>
        
          <%-  include('./_pizza', { pizza }) %>
        
        <% }) } else { %>

        <h1>Não tem pizzas cadastradas no sistema!</h1>

        <% } %>

        <div class="col-12 mt-5">
          <a href="/pizzas/new" class="btn btn-primary">
            Cadastrar Nova pizza
          </a>
        </div>
      </section>
    </div>

    <%- include('../shared/_bootstrap') %>
  </body>
</html>
