<!DOCTYPE html>
<html lang="en">
  <%- include('../shared/_head', { title: "Cadastro de Pizza" }) %>

  <body>
    <%- include('../shared/_header') %>

    <main class="container">
      <div class="row">
        <div class="col-12">
          <h1>Cadastro de pizza</h1>
        </div>
        <div class="col-12">
          <%- include('./_form') %>
        </div>
      </div>
    </main>

    <%- include('../shared/_bootstrap') %>
  </body>
</html>
