<%- contentFor('title') %> Cadastro de Usuario <%- contentFor('body') %>
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Cadastro de Usuario</h1>
    </div>

    <%- include('../shared/_flash') %>

    <div class="col-12">
      <%- include('./_form') %>
    </div>
  </div>
</main>
