body {
  margin: 0;
  padding: 0;
}

#container {
  position: fixed;
  touch-action: none;
}

#description {
  background: #fff;
  left: 50%;
  margin: 150px 0 0 0;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  z-index: 2;
}
