@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 14px 'Roboto', sans-serif;
}

.contentContainer {
  position: relative;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contentContainer main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
