<%- contentFor('title') %>
Cadastro de Pizza

<%- contentFor('body') %>
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Cadastro de pizza</h1>
    </div>
    <div class="col-12">
      <%- include('./_form') %>
    </div>
  </div>
</main>
