<div class="col-md-4 p-1">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= pizza.id %> - <%= pizza.nome %></h5>

      <p class="card-text">R$ <%= pizza.preco %></p>
    </div>
  </div>
</div>
